<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">

	<conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
	
	<!-- DEFAULT (non-profile) -->
	<logger name="jdbc" level="OFF"/>
    <logger name="jdbc.sqlonly" level="OFF"/>
    <logger name="jdbc.sqltiming" level="OFF"/>
    <logger name="jdbc.audit" level="OFF"/>
    <logger name="jdbc.resultset" level="OFF"/>
    <logger name="jdbc.resultsettable" level="OFF"/>
    <logger name="jdbc.connection" level="OFF"/>
    <!-- DEFAULT (non-profile) -->
    
    <springProfile name="log-jdbc">
	    <logger name="jdbc" level="OFF"/>
	    <logger name="jdbc.sqlonly" level="OFF"/>
	    <logger name="jdbc.sqltiming" level="DEBUG"/>
	    <logger name="jdbc.audit" level="OFF"/>
	    <logger name="jdbc.resultset" level="OFF"/>
	    <logger name="jdbc.resultsettable" level="DEBUG"/>
	    <logger name="jdbc.connection" level="OFF"/>
    </springProfile>
    
	<springProfile name="log-file-win">
		<include resource="appenders/appender-file-win.xml" />
  		<root level="INFO">
    		<appender-ref ref="FILE" />
  		</root>
	</springProfile>
	<springProfile name="log-file-linux">
		<include resource="appenders/appender-file-linux.xml" />
  		<root level="INFO">
    		<appender-ref ref="FILE" />
  		</root>
	</springProfile>
	
	<springProfile name="log-console">
		<include resource="appenders/appender-console.xml" />
		<logger name="com.simplify" additivity="false">
	        <level value="debug" />
	        <appender-ref ref="CONSOLE" />
	    </logger>
  		<root level="INFO">
  			<appender-ref ref="CONSOLE" />
  		</root>
	</springProfile>
</configuration>